.oa-sidebar {
    -ms-flex-order: 0;
    order: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .oa-sidebar {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
    @supports ((position: -webkit-sticky) or (position: sticky)) {
        .oa-sidebar {
            position: -webkit-sticky;
            position: sticky;
            top: 0rem;
            z-index: 1000;
            height: calc(100vh - 4rem);
        }
    }
}

@media (min-width: 1200px) {
    .oa-sidebar {
        -ms-flex: 0 1 320px;
        flex: 0 1 320px;
    }
}

.section-nav {
    padding-left: 0;
    border-left: 1px solid #eee;
}

.section-nav ul {
    padding-left: 1rem;
}

.oa-toc {
    -ms-flex-order: 2;
    order: 2;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 0.875rem;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .oa-toc {
        position: -webkit-sticky;
        position: sticky;
        top: 0rem;
        height: calc(100vh - 4rem);
        overflow-y: auto;
    }
}

.toc-entry {
    display: block;
}

.toc-entry a {
    display: block;
    padding: .125rem 1.5rem;
    color: #77757a;
}

.toc-h1 {
    font-weight: bold;
}

.toc-h2 {
    margin-left: .5em;
}


.toc-h3 {
    margin-left: 1em;
}

.toc-entry a:hover {
    color: #007bff;
    text-decoration: none;
}

.oa-content {
    -ms-flex-order: 1;
    order: 1;
}