<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    {% if site.google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "/static/css/oa-style.css" | relative_url }}">
</head>
<body>
<div class="container-fluid">
    <main class="row flex-xl-nowrap">
        <div class="col-md-3 col-xl-2 oa-sidebar">
            <a href="{{ "/" | absolute_url }}">
            {% if site.logo %}
            <img class="img-fluid" src="{{site.logo | relative_url}}" alt="logo"/>
            {% else %}
            <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
            {% endif %}
            </a>
            <p>{{ site.description | default: site.github.project_tagline }}</p>

            {% if site.github.is_project_page %}
            <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
            {% endif %}

            {% if site.github.is_user_page %}
            <p class="view"><a href="{{ site.github.owner_url }}">View GitHub Profile</a></p>
            {% endif %}
        </div>
        <nav id="section-nav" class="d-none d-xl-block col-xl-2 oa-toc" aria-label="Secondary navigation">
            <ul class="section-nav">
            </ul>
        </nav>
        <main class="col-md-9 col-xl-8 py-md-3 pl-md-5 oa-content" role="main">
            <h1 id="archive-of-wikiopenagmediamitedu"><a href="/archived_wiki/">OpenAg Wiki Archive</a></h1>
            <p><code class="language-plaintext highlighter-rouge">Archived Contents from the original OpenAg Wiki (snapshot on Apr 8, 2020)</code></p>
            <p>The archived wiki only includes information up the v3.0 version of the PFC-EDU, and is here for preservation purposes. You can find
                resources about the latest version of the PFC v4.0 on the <a href="/latest_pfc.html">Personal Food Computer resources</a> page.</p>
            {{ content }}
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{{ "/static/js/bs_navcode.js" | relative_url }}"></script>
</body>
</html>